---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Academy from '../components/Icons/academy.astro';
import Projects from '../components/Projects.astro';
import Code from '../components/Icons/Code.astro'
import AboutMe from '../components/AboutMe.astro'
import User from '../components/Icons/User.astro'
import Contact from '../components/Contacto.astro'
import Socialmedia from '../components/Socialmedia.astro'
---


<Layout 
title="Portfolio De Danilo Caceres - con mas de 10 años en Technical support"
description="Contratame ahora no pierdas la oportunidad !!!" >
<main class="px-4 ">
  <SectionContainer class="py-44 pb-20">
    <img
      class="rounded-full size-12 mb-4"
      src="https://avatars.githubusercontent.com/u/64212933?v=4"
      alt="Danilo Caceres"
    />
    <h1
      class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10 text-center">
      Hola soy Danilo <a
        href="https://www.linkedin.com/in/danilo-caceres/"
        target="_blank"
        rel="noopener"
        class="flex justify-center items-center py-4 hover:scale-105">
        <Badge>Trabajemos juntos ahora !!!</Badge></a>
    </h1>
    <h2 class=" text-2xl lg:text-2xl text-wrap max-w-[500px]">
      <span> Mas de 10 años como Technical support freelanse</span>,
      <span class="opacity-80">
        Desarrollador web junior Python y Javascript. De Montevideo, Ururguay
      </span>
    </h2>
    
  </SectionContainer > 
  <SectionContainer > 
    <Socialmedia /> 
  <SectionContainer id="Experiencia" >
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center pt-10">
        <Academy class="size-6"/>
        Experiencia Academica
      </h2>
      <Experience />
  </SectionContainer>

  <SectionContainer id="Projectos">
    <h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center pt-10">
      <Code class="size-7" />
      Projectos 
    </h2>
    <Projects />
  </SectionContainer>

  <SectionContainer id="Projectos">
    <h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center pt-10 ">
      <User class="size-7" />
      Sobre mi 
    </h2>
    <AboutMe />
  </SectionContainer>
  <SectionContainer id="Contact">
    <Contact />
</SectionContainer>
</main>
</Layout>
