---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Hobies from "./Hobies.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="flex gap-x-8 justify-center items-center">
  <div
    class="[&>p]:mt-4 [&>p>strong]:text-yellow-600 [&>p>strong]:font-semibold text-justify"
  >
    <p>
      {t("mi2")}
      <strong>{t("mi3")}</strong>
    </p>
    <br />
    {t("mi4")}
    <p>
      <br />
      {t("mi5")}<strong>{t("mi5_strong")}</strong>
    </p>
    <br />
    <p>
      <em class="italic">{t("mi6")}</em>
    </p>
    <br />

    <div>
      <Hobies />
    </div>
  </div>
  <img src="/foto.webp" class="rounded-full size-64" />
</section>
