---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import ExperienceItems from "./ExpirienceItems.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const EPERIENCES = [
  {
    date: "24/11/2020",
    title: t("soporte1"),
    description: t("soporte2"),
    link: "../../public/visado.pdf",
  },
  {
    date: "31/10/2023",
    title: t("fullstack1"),
    description: t("fullstack2"),
    link: "../../public/Javascript.pdf",
  },
  {
    date: "04/03/2022",
    title: t("python1"),
    description: t("python2"),
    link: "../../public/Python.pdf",
  },
];
---

<ol class="relative border-s border-gray-300 dark:border-gray-700 ml-3">
  {
    EPERIENCES.map((exp) => (
      <li class="mb-10 ms-4">
        <ExperienceItems {...exp} />
      </li>
    ))
  }
</ol>
