---
import ExperienceItems from "./ExpirienceItems.astro";


const EPERIENCES = [
    {
        date: "24/11/2020",
        title: "Tecnico en soporte de sistemas",
        description: "Egresado del instituto tecnologico superior en la carrera de Tecnico en soporte de sistemas",
        link: "../../public/visado.pdf"
        
    },
    {
        date: "31/10/2023",
        title: "Programador Fulstack",
        description:"Egresado de la academia Udemy con el instructor Nicolas Schurmann en el curso de Javascript, React y Nodejs",
        link: "../../public/Javascript.pdf"
    },
    {
        date: "04/03/2022",
        title: "Programador Python",
        description:"Egresado de la academia Udemy con el instructor Nicolas Schurmann en el curso de Python, MySQL Y Flask",
        link: "../../public/Python.pdf"

    },
    {
        date: "07/07/2023",
        title: "DevOps",
        description:"Egresado de la academia Udemy con el instructor Carlos Adrain Soto Botero, en el curso de DevOps con Docker, Jenkins, Kubernetes, git, gitflow y CI y CD",
        link: "../../public/DevOps.pdf"

    },
];
---

<ol class="relative border-s dark:border-gray-700 ml-3">
    {
        EPERIENCES.map((Experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItems {...Experience} />
            </li>
        ))
    }
</ol>
