---
import ExperienceItems from './ExpirienceItems.astro';

const EPERIENCES = [
    {
        date: "",
        title: "",
        description: ""
    },
    {
        date: "",
        title: "",
        description: ""
    },
    {
        date: "",
        title: "",
        description: ""
    }
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
    {    
        EPERIENCES.map((Experience) => (
        <li class="mb-10 ms-4">
            <ExperienceItems {...Experience}/>
        </li>
        ))
    }
</ol>