---
import Linkbutton from "./linkbutton.astro";
import Download from "./Icons/Download.astro";

interface Props {
  title: string;
  description: string;
  date: string;
  link?: string;
}

const { title, description, date, link } = Astro.props;
---

<ol class="border-gray-200 dark:border-gray-700">
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-300 rounded-full mt-1.5 -start-1.5 border border-white dark:bg-gray-200"
    >
    </div>
    <time class="mb-1 text-sm font-normal leading-none text-sky-200/80">
      {date}
    </time>
    <h3 class="text-lg font-semibold mt-4">
      {title}
    </h3>
    <p class="mb-4 text-base font-normal text-gray-200 text-pretty">
      {description}
    </p>
    {
      link && (
        <Linkbutton href={link}>
          <Download />
          Descargar certificado {""}
          <svg
            class="w-3 h-3 ms-2 rtl:rotate-180"
            aria-hidden="true"
            fill="none"
            viewBox="0 0 14 10"
          >
          </svg>
        </Linkbutton>
      )
    }
  </li>
</ol>
