---
import Game from "./Icons/Game.astro"
import Music from "./Icons/Music.astro"
import Camping from "./Icons/camping.astro"
import F1 from "./Icons/F1.astro"
import Cook from "./Icons/Cook.astro"
import Futbol from "./Icons/Futbol.astro"



---
<table class="mx-3">
    <a class="bg-white/5 border border-white/10 rounded-full gap-x-2 py-1 px-4 inline-flex space-y-4">
        <Game /> jugar videojuegos
    </a>
    <a class="bg-white/5 border border-white/10 rounded-full gap-x-2 py-1 px-2 inline-flex  ">
        <Music /> Escuchar musica
    </a>
    <a class="bg-white/5 border border-white/10 rounded-full  gap-x-2 py-1 inline-flex px-4 ">
        <Camping /> Ir de Camping
    </a>
    <a class="bg-white/5 border border-white/10 rounded-full gap-x-2 py-1 inline-flex px-4 ">
        <F1 /> Mirar la Formula 1
    </a>
    <a class="bg-white/5 border border-white/10 rounded-full  gap-x-2 py-1 inline-flex px-4  ">
        <Futbol /> Jugar al futbol 
    </a>
    <a class="bg-white/5 border border-white/10 rounded-full  gap-x-2 py-1 inline-flex px-4 ">
        <Cook /> Cocinar
    </a>
</table>