        <a 
            class="rounded-full flex flex-wrap gap-x-2 py-4 hover:scale-100 transition group relative" 
            {...Astro.props}
            target="_blank"
            rel="noopener noreferrer"
            >
            <slot />
        </a>